<h1>Edit Ticket</h1>
<form action="/lists/tickets/{{ticket._id}}?_method=PATCH", method="POST">
  <input type="hidden" name="listId" value="{{listId}}">
  <div>
    <input type="text" name="name" value="{{ticket.name}}">
  </div>
  <div>
    <input type="date" name="deadline" value="{{deadline}}">
  </div>

  <div>
    <input type="submit" value="Edit Ticket">
  </div>
</form>
