<!-- <h1>Hit ticket index</h1>

{{#each tickets}}
  <div class="ticket">
    <a href=/tickets/{{_id}}><li>{{name}}</li></a>
    {{assigned_to}}
  </div>
{{/each}}

<a href="/tickets/new">Create new ticket</a>

{{#if currentUser}}
  <a href=/users/{{currentUser._id}}/edit>Edit your profile</a>
{{/if}} -->
