<h1>Create New Ticket</h1>
<form action="/", method="POST">
  <div>
    <input type="text" name="name" placeholder="Name of Ticket">
  </div>
  <div>
    <input type="date" name="deadline" placeholder="Ticket deadline">
  </div>

  <div>
    <input type="submit" value="Create Ticket">
  </div>
</form>
