*, :after, :before {
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

.main {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  flex: 1;
  overflow-x: auto;
}

.ticket_holder{
  width: 12.5em;
  background: rgb(226,228,230);
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.5em 0.25em;
  margin: 0.5em;
  flex: 0 0 auto;
  font-size: 1em;
}

.ticket_holder h3 {
  margin: 0;
}

.ticket_holder a {
  text-decoration: none;
  color: #000;
  display: block;
  margin: 0.5em 0.25em;
}

.ticket {
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 1em;
  margin: 0.5em;
}
