<h1>Edit User</h1>
<form action="/users/{{user.id}}?_method=PUT", method="POST">
  <div>
    <input type="text" name="username" value="{{user.username}}">
  </div>
  <div>
    <input type="text" name="email" value="{{user.email}}">
  </div>

  <div>
    <input type="submit" value="Edit User">
  </div>
</form>
